# Byte-compiled / optimized / DLL files

.cursor/commands/
.env
.act_secrets
__pycache__/
*.py[cod]
*$py.class
.coverage
**/.venv
**/*.egg-info
node_modules/
conductor.json
CLAUDE.md
.claude/

libs/core/docs
libs/core/build
libs/server/build

dist/

.mcp.json

